[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/vim/bundle/Vundle.vim"]
	path = dotfiles/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "dotfiles/tmux/plugins/tpm"]
	path = dotfiles/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotfiles/config/powerlevel10k"]
	path = dotfiles/config/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
